body{
    background-image:url("/img/back.jpg");
    margin: auto;
}
ul{
    list-style: none;
}

li a{
    color: white;
    text-decoration:none;
}
#sob{
    float: right;
    width:75px;
    text-decoration: underline;
}
header{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: black;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 8px white;
}
#envelope{
    width: 960px;
    height: 90vh;
    margin: auto;
    background-color:gray ;
    overflow: hidden;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
}